<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15738567745-jnkfhhm06nla5da2vaf4kagpupghs3ib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15738567745-jnkfhhm06nla5da2vaf4kagpupghs3ib</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>15738567745-q8ed68oqhm2tica0ri52t5nt7sac572b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxz1AYyRNNrUfW5dyXNgSgXLLnKSjrXK0</string>
	<key>GCM_SENDER_ID</key>
	<string>15738567745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weeu</string>
	<key>PROJECT_ID</key>
	<string>weeu-36e39</string>
	<key>STORAGE_BUCKET</key>
	<string>weeu-36e39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15738567745:ios:bc15cac27d0ba53c87dac0</string>
</dict>
</plist>